* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
main {
    margin-top: 40px;
}

body {
    padding-top: 0;
}
/*Section-header-1*/
#section-header-1  {
    height: 40px; /*Chiều cao của phần tử*/
    line-height: 40px;/*Chiều cao dòng văn bản*/
    position: fixed; /* Đặt vị trí cố định */
    top: 0; /* Đặt ở trên cùng */
    left: 0;
    width: 100%;
    background-color: #fff;
}
#section-header-1 a:hover{
    color: #d3995f;
}
.navbar-brand {
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #000; /* Bạn có thể đổi màu tại đây */
    margin-left: 20px;
}
.navbar-nav ul li a {
    font-size: 14px;
    font-weight: 500;
    color: #2a2a2a;
    margin: 0 12px;
    text-transform: uppercase;
    transition: color 0.3s ease;
}
.navbar-nav li {
    font-size: 14px;
    font-weight: 500;
    color: #2a2a2a;
    margin: 0 12px;
    text-transform: uppercase;
    transition: color 0.3s ease;
}
.navbar i {
    color: #2a2a2a;
    transition: color 0.3s ease;
    cursor: pointer;
}

.navbar a:hover i {
    color: #d3995f;
}
#section-header-2 img {
    width: 100%;
    height: auto;
    display: block;
    margin-top: 70px;
}
/*End header*/
/*section-main-1*/
#section-main-1 {
    background: #f9f9f9; /* Màu nền trắng */
    padding-top: 10px;
    padding-bottom: 30px;
}
.page-header {
    background: #2a2a2a;
    padding: 12px 0;
    font-size: 30px; /* Kích thước tiêu đề */
    color: #d3995f; /* Màu chữ */
    font-weight: 600; /* Đậm */
    margin-top: 0;
    margin-bottom: 30px; /* Khoảng cách dưới */
}

#st2-product .bg-gray {
    background-color: #f5f5f5; /* nền xám nhạt */
    height: 350px; /* chiều cao khung ảnh */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 8px;
    margin-bottom: 10px;
}

#st2-product .bg-gray img {
    max-width: 100%;
    max-height: 100%;
    cursor: pointer;
    object-fit: contain; /* giữ tỉ lệ ảnh */
}

#st2-product h3 a {
    font-size: 1.1rem;
    margin: 10px 0 5px;
    text-align: center;
    text-decoration: none; /* không gạch chân */
    color: #292929; /* màu chữ tiêu đề */
}
#st2-product h3 a:hover {
    color: #d3995f; /* màu chữ tiêu đề khi hover */
}

#st2-product .price {
    display: block;
    text-align: center;
    color: #333;
    font-weight: bold;
}
/*End section-main-1*/
/*section-main-2*/
/*#section-main-2 {*/
/*    background: #292929;*/
/*    color: #fdfdfd;*/
/*    font-size: 13px;*/
/*    padding: 30px 30px;*/
/*}*/
/*#section-main-2 h2 {*/
/*    font-size: 30px;*/
/*    color: #d3995f;*/
/*    font-weight: 700;*/
/*    margin-bottom: 10px;*/
/*}*/
/*End section-main-2*/
/*section-main-3*/
#section-main-3 h2 {
    font-size: 30px; /* Kích thước tiêu đề */
    color: #d3995f; /* Màu chữ */
    font-weight: 600; /* Đậm */
    margin-top: 30px; /* Khoảng cách trên */
    margin-bottom: 40px;
    padding: 12px 0;
    background: #2a2a2a;
}

#st3-product .bg-gray {
    background-color: #f5f5f5; /* nền xám nhạt */
    height: 350px; /* chiều cao khung ảnh */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 8px;
    margin-bottom: 10px;
}

#st3-product .bg-gray img {
    max-width: 100%;
    max-height: 100%;
    cursor: pointer;
    object-fit: contain; /* giữ tỉ lệ ảnh */
}

#st3-product h3 a {
    font-size: 1.1rem;
    margin: 10px 0 5px;
    text-align: center;
    text-decoration: none; /* không gạch chân */
    color: #292929; /* màu chữ tiêu đề */
}
#st3-product h3 a:hover {
    color: #d3995f; /* màu chữ tiêu đề khi hover */
}

#st3-product .price {
    display: block;
    text-align: center;
    color: #333;
    font-weight: bold;
}
/*End section-main-3*/
footer {
    background: #2a2a2a;
    color: #dddddd;
    padding-top: 20px;
}