* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

}
/*Section-header-1*/
#section-header-1  {
    height: 40px; /*Chiều cao của phần tử*/
    line-height: 40px;/*Chiều cao dòng văn bản*/
    position: fixed; /* Đặt vị trí cố định */
    top: 0; /* Đặt ở trên cùng */
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 9999;
}
#section-header-1 a:hover{
    color: #d3995f;
}
.navbar-brand {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #000; /* Bạn có thể đổi màu tại đây */
}
.navbar-nav .nav-link {
    font-size: 12px;
    font-weight: 500;
    color: #2a2a2a;
    margin: 0 12px;
    text-transform: uppercase;
    transition: color 0.3s ease;
}
.navbar i {
    transition: color 0.3s ease;
    cursor: pointer;
}

.navbar a:hover i {
    color: #d3995f;
}
/*End header*/
/*main*/
main {
    max-width: 100%;
    overflow-x: hidden;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 100px;
}
.order-details {
    margin-top: 20px;
    font-size: 18px;
}
.order-item {
    background-color: #f8f9fa;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
h5 {
    margin-top: 20px;
}
.product{
    display: flex;
    justify-content: space-between;
}
.product total {
    justify-content: space-between;
}
