* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

}
main {
    margin-top: 40px;
}

body {
    padding-top: 0;
}
/*Section-header-1*/
#section-header-1  {
    height: 40px; /*Chiều cao của phần tử*/
    line-height: 40px;/*Chiều cao dòng văn bản*/
    position: fixed; /* Đặt vị trí cố định */
    top: 0; /* Đặt ở trên cùng */
    left: 0;
    width: 100%;
    background-color: #fff;
}
#section-header-1 a:hover{
    color: #d3995f;
}
.navbar-brand {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #000; /* Bạn có thể đổi màu tại đây */
}
.navbar-nav .nav-link {
    font-size: 12px;
    font-weight: 500;
    color: #2a2a2a;
    margin: 0 12px;
    text-transform: uppercase;
    transition: color 0.3s ease;
}
.navbar i {
    transition: color 0.3s ease;
    cursor: pointer;
}

.navbar a:hover i {
    color: #d3995f;
}
/*End header*/
/*main*/
/*#section-main-1 h1{*/
/*    margin-top: 100px;*/
/*}*/
.custom {
    display: flex;
    align-items: center;
    gap: 12px; /* khoảng cách giữa label và input */
    margin-bottom: 1rem;
}

.custom label {
    min-width: 120px;
    margin-bottom: 0;
}
main{
    margin-bottom: 50px;
}
/*end main*/