* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#section-header-1{
    background: #292929;
    font-size: 12px;
    color: #fdfdfd;
    height: 50px;
    line-height: 30px;
}
#section-header-1 a{
    color: #fdfdfd;
    text-decoration: none;
}   
#section-main-1 {
    display: flex;
    flex-direction: row;
    background: #ffffff;
}
.col-lg-9{
    background:#d1cfcf ;
}
.sidebar {
    background: #ffffff; /* Màu nền xám nhạt */
    color: #2a2a2a;  /* Màu chữ xám đậm */
    width: 250px;    /* Độ rộng sidebar: 250px */
    height: 100vh;   /* Chiều cao = 100% chiều cao màn hình (viewport height) */
    padding: 20px;  /* Khoảng cách bên trong (nội dung cách viền 20px) */
    position: sticky; /* Vị trí "dính" – giữ nguyên khi cuộn */

}
.sidebar ul {
    list-style: none;
}
.sidebar ul li {
    padding: 10px 0;
}
.sidebar ul li a{
    color: #292929; /* Màu chữ */
    text-decoration: none; /* Loại bỏ gạch chân */
}
.sidebar ul li:hover {
    background: #9bc3eb;
    cursor: pointer;
}
.breadcrumb {
    margin-bottom: 0;
    padding: 10px 15px;
    background: none;
    display: flex;
    align-items: center;
    margin-left: 260px;
}

.breadcrumb li {
    list-style: none;
    display: flex;
    align-items: center;
}

.breadcrumb li i {
    margin-right: 4px;
}
.st1 a {
    color: #292929; /* Màu chữ */
    text-decoration: none; /* Loại bỏ gạch chân */
}
.page-header{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 50px;
}
.content {
    background: #ffffff;
    padding: 10px;
    flex-grow: 1;
    margin-left: 20px;
}
